.toTop {
  position: fixed;
  bottom: 15px;
  right: 40px;
  width: 60px;
  height: 60px;
  color: rgb(185, 185, 185);
}
.toTop_background {
  position: fixed;
  bottom: 28px;
  right: 55px;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.toTop:hover {
  color: rgb(162, 162, 162);
}
