.posts {
  width: 90%;
  margin: var(--size-20) auto;
  padding: var(--size-1) var(--size-8) var(--size-8) var(--size-8);
  background-color: rgba(0, 0, 0, 0.922);
  border-radius: 80px;

  h1 {
    font-size: var(--size-8);
    color: white;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .posts h1 {
    font-size: var(--size-16);
  }
}
