#wrap {
  border-style: solid;
  border-width: var(--size-3) var(--size-3) 0px var(--size-3);
}

.logo_container {
  position: relative;
  margin: 0 auto 0 auto;
  background-color: white;
  z-index: 10;
  div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto 80px auto;
    height: 100px;
    .logo_image {
      position: relative !important;
      width: 150px !important;
      height: 160px !important;
      margin-bottom: 10px;
    }
    span {
      text-align: center;
      margin-bottom: 5px;
      width: 200px;
    }
  }
}
@media (max-width: 768px) {
  .logo_container {
    margin: 2.5rem auto 0 auto;
  }
}
.main_contents_container {
  display: flex;
  justify-content: space-around;
  height: calc(100vh - 6rem - 200px);
  margin: 30px;

  .main_contents {
    position: relative;
    overflow: hidden;
    width: 30%;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .main_contents_container {
    flex-direction: column;

    height: 100vh;
    .main_contents {
      margin: 10px auto;
      width: 90%;
      height: 100%;
    }
  }
}

.slide_layer_off {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  top: 50%;
  width: 100%;
  height: 50%;
  transform: translateX(-100%);
  transition: 0.3s ease;
}
.slide_layer_on {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  top: 50%;
  width: 100%;
  height: 50%;
  transition: 0.4s ease;
}

.layer_span {
  overflow: hidden;
  text-decoration: none;
  margin-left: 15px;
  font-family: "SCfont";
  font-size: 70px;
  color: black;
}

.main_image {
  object-fit: cover;
}

.main_image_mouseout {
  transition: 0.5s;
}
.main_image_mouseover {
  transition: 0.5s;
  transform: translateY(-30%);
  opacity: 0.7;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "SCfont";
  src: url("/fonts/good-head-sc-office-pro-extd-bold.woff") format("woff");
}
