.container {
  background-color: white;
  position: relative;
  padding: 0 0.938rem;
  margin-top: -32px;
}

.introBox-right {
  word-break: break-all;
  width: 100%;
  padding: 0 8rem;
  box-sizing: border-box;
  min-width: 40rem;
}

.mainimag {
  object-fit: cover;
}

.background {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 90vh;
}

.imgs {
  max-width: 100%;
  height: auto;
}

.imgone {
  display: flex;
  width: 100%;
  margin: 0 0.469rem;
  overflow: hidden;
  border-radius: 1.25rem;
}

.imgone img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.introContainer {
  margin-top: 15vh;
  width: 100%;
  height: 700px;
}

.title {
  font-family: "NeueHaas";
  padding-top: 10vh;
  font-size: 3.625rem;
  line-height: 3.8rem;
  letter-spacing: -0.125rem;
  margin-left: 2.5rem;
}

.title span {
  font-family: "NeueHaas";
  margin-left: 1rem;
  color: #a7a7a7;
}

.introText {
  font-family: "Pretendard-Regular";
  font-size: 1.25rem;
  line-height: 1.925rem;
  margin-bottom: 2rem;
  overflow: hidden;
  height: 500px;
}

.detailBox-right {
  position: relative;
  margin-left: 50%;
  margin-top: 80px;
  padding: 0px;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}

.detailText {
  font-family: "Pretendard-Regular";
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.introBox-left h2 {
  margin-bottom: 10px;
  font-family: "NeueHaasDisplayLight";
  letter-spacing: 3px;
}

@media only screen and (min-width: 31.25em) {
  .imagethree {
    display: flex;
    margin-top: 4rem;
  }

  .imagethree-content {
    padding: 0 1.407rem;
    width: 33.33%;
  }

  .imagethree-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0px auto;
  }
}

@media only screen and (max-width: 31.25em) {
  .imagethree {
    display: flex;
    padding: 0 0.469rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .imagethree-content {
    margin-bottom: 2rem;
    width: 100%;
  }

  .imagethree-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0px auto;
  }
}

.usedTech {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 5px;
}

.usedTech li {
  margin-right: 20px;
  text-decoration: none;
}
.usedTech li span {
  padding: 30px;
}
.linkContainer {
  width: 100px;

  cursor: pointer;
}
.usedTech-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 40px;
  background-color: #ece9e0;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media only screen and (min-width: 47.5em) {
  .introBox-left {
    width: 50%;
    padding: 0 4rem;
    box-sizing: border-box;
    min-width: 40rem;
  }

  .introBox-right {
    height: auto;
    word-break: break-all;
    width: 60%;
    padding: 0 8rem;
    box-sizing: border-box;
  }

  .introContainer {
    display: flex;
    justify-content: center;
    margin-top: 15vh;

    width: 100%;
    height: 400px;
  }
}

@media only screen and (max-width: 47.5em) {
  .introBox-left {
    padding: 0 4rem;
  }

  .introBox-right {
    word-break: break-all;
    height: 50px;
    padding: 0 8rem;
  }
}

.introBox-right p {
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/NanumSquareRoundB.woff") format("woff");
}

@font-face {
  font-family: "NeueHaasDisplayLight";
  src: url("/fonts/NeueHaasDisplayLight.woff") format("woff");
}
