.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.slider_container div {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.tech_icon {
  position: relative;
}

.title {
  padding: 0 4.5rem;
}

.introBox-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 4rem 4rem 5rem auto;
  max-width: 40rem;
}
.introText {
  font-family: "Pretendard-Regular";
  font-size: 1.25rem;
  line-height: 1.925rem;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 0 2rem;
  white-space: pre-line;
}

.h2styles {
  margin-bottom: 0;
}
.customDots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  justify-content: center;
  align-items: center;
  list-style: none;
}

.customDotImage {
  width: 100px;
  height: 100px;
  margin: 0 5px;

  cursor: pointer;
  transition: opacity 0.3s;
}

.customDotImage:hover {
  opacity: 0.7;
}

.arrowDiv {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
}
.arrowLeft {
  padding-right: 20px;
}
.arrowRight {
  padding-left: 20px;
}

.arrow {
  width: 40px;
  height: 50px;
  color: #9a9a9a;
}
.arrowDiv :hover {
  color: rgb(45, 45, 45);
}
.goToSlide {
  display: flex;
  justify-content: center;
}
.customSlide {
  margin-top: 10px;
  width: 250px;
  accent-color: gray;
}
