.slider_container {
  display: flex;
  justify-content: center;
  width: 100%;

  margin: 0 auto;
  margin-bottom: 30px;
}

.slider_container div {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.tech_icon {
  position: relative;
}

.title {
  padding: 0 2rem;
}

.introBox-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 4rem 4rem 5rem auto;
  max-width: 40rem;
}
.introText {
  font-family: "Pretendard-Regular";
  font-size: 1.25rem;
  line-height: 1.925rem;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 0 2rem;
  white-space: pre-line;
}

.h2styles {
  margin-bottom: 0;
}

.gifContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  height: 80vh;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
}

.gifContainer div {
  width: 20%;
  height: calc(80vh / 4);
  border-radius: 10px;
}
.gifContainer div img {
  width: 100%;
  height: calc(80vh / 4);

  object-fit: cover;
}
