.header {
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  top: 0px;
  width: 100%;
  z-index: 5;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px;
  padding: 0;
}

.logo_image {
  margin-top: 30px;
  margin-left: 5px;
  width: 130px;
  height: 90px;
  position: relative !important;
}
.link_style {
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
  font-family: "FSMeridian";
  font-size: 20px;
  @media (max-width: 430px) {
    font-size: 15px;
  }
}
.link_style:hover {
  color: gray;
}
.black {
  color: black;
}
.hotpink {
  color: rgb(221, 36, 67);
}
@media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }
}
