@mixin header-styles {
  width: 100vw;
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms ease;
  z-index: 5;
  border-bottom: 1px solid black;
  position: fixed;

  ul {
    list-style: none;
    display: flex;
    align-items: baseline;
  }
}

.header {
  @include header-styles;
  top: 0;
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.header_down {
  @include header-styles;
  top: -6rem;
  opacity: 0;
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.logo_image {
  margin-top: 5px;
  margin-left: 5px;
  width: 90px;
  height: 60px;
  position: relative !important;
}

.link_style {
  text-decoration: none;
  margin-right: 30px;
  font-family: "FSMeridian";
  font-size: 17px;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.link_style:hover {
  color: gray;
}

.black {
  color: black;
}

.hotpink {
  color: rgb(221, 36, 67);
}

@font-face {
  font-family: "FSMeridian";
  src: url("/fonts/FSMeridianTrial-Bold.woff") format("woff");
}
