* {
  box-sizing: border-box;
}
body {
  margin: 0;
  scroll-behavior: smooth; /* 스크롤 부드럽게 하기 */
  font-family: "NanumSquare", sans-serif;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;
}
::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
  height: 40%; /* 스크롤바의 길이 */
  background: #c4c6c8; /* 스크롤바의 색상 */
  border-radius: 10px; /* 테두리 둥글게 만들기 속성 */
}

::-webkit-scrollbar-track {
  background: rgba(233, 236, 239); /*스크롤바 뒷 배경 색상*/
}
